@model TravelTripProje.Models.Sınıflar.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="modal fade" tabindex="-1" id="myModal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Blog Güncelleme Sayfası</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using(Html.BeginForm("BlogGüncelle","Admin",FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.LabelFor(x => x.ID)
                    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
                    <br />
                    @Html.LabelFor(x => x.Baslik)
                    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(x => x.Tarih)
                    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(x => x.BlogImage)
                    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(x => x.Aciklama)
                    @Html.TextAreaFor(x => x.Aciklama, 10, 1, new { @class = "form-control" })

                </div>
                <div class="modal-footer">
                    <a href="/Admin/Index/" class="btn btn-outline-secondary">İptal</a>
                    <button type="submit" class="btn btn-success" data-target="#myModal">Blog Güncelle</button>
                    @*<a href="#" class="btn btn-primary" data-target="#myModal">Blog Ekle</a>*@
                    @*<button type="submit" class="btn btn-primary" data-dismiss="modal">Onayla</button>*@
                </div>
            }
            
        </div>
    </div>
</div>



